.App {
    text-align: center;
    color: white;
    min-height: 100vh;
    font-family: 'Nanum Myeongjo', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
button{
    cursor: pointer;
}
.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
#landingpage-title{
    font-size: 4rem;
    text-shadow: 0 0 3px  #ffffff;
    display: block;
    position: relative;
    padding: 0.2em 0;
    cursor: pointer;
}
#landingpage-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.03em;
    background-color: rgb(195, 182, 255);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  #landingpage-title:hover::after,
  #landingpage-title:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
    transform: scale(0);
    transform-origin: center;
    transform: scale(1);
  }

  #landingpage-title:hover::after,
  #landingpage-title:focus::after {
    transform: scale(1);
  }
.link-to-page{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-shadow: 0 0 3px  #ffffff;
}
.link-to-page:hover{
    text-decoration: underline;
}
.choose{
    margin: 2vw;
}
.choose:hover{
    transform: translate(10px, 0px);
    transition: transform 330ms ease-in-out;
}
#space-main-back{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}