#header-main{
    display: flex;
    flex-direction: row;
}
#planetpage{
    background-color: black;
    top: 0;
    color: white;
    height: 100vh;
    width: 100vw;
}
#planetpage-title{
    margin-top: 0vh;
    text-align: center;
}
#planetpage-planet-info{
    width: 60vw;
}
@media screen and (max-width: 900px) {
    #header-main{
        display: flex;
        flex-direction: column;
    }
}