#header-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#planetpage-planet-container{
    display: block;
    width: 60vw;
    height: 60vh;
    max-width: 60vw;
    max-height: 60vh;
    padding: 1vw;
    background-color: rgb(4, 1, 19);
}
.modal{
    display: block;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.068);
    position: absolute;
    z-index: 1;
    background-color: rgb(4, 1, 19);
    animation-name: openmodal;
    animation-timing-function: ease-in;
    bottom: 15%;
    right: 20%;
    animation-duration: 0.3s;
}
.closedmodal{
    display: none;
}
#close-btn{
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    left: 0;
    padding: 1vw;
    font-size: 1.4rem;
}
#planetpage-title{
    margin-top: 0vh;
    text-align: center;
    padding: 2vw;
    font-size: 2.4rem;
}
#planetpage-planet-info{
    max-width: 50vw;
    font-size: 1.3rem;
    line-height: 30px;
}
.planetpage-planetpic{
  filter: drop-shadow(16px 16px 50px rgb(31, 29, 49));
  width: 300px;
  height: fit-content;
  max-height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
    #header-main{
        display: flex;
        flex-direction: column;
    }
}
@keyframes openmodal {
    from{
        bottom: 0;
        opacity: 0;
        right: 20%;
    }
    to{
        bottom: 15%;
        opacity: 1;
        right: 20%;
    }
}