.planet{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  #planet-header{
    display: flex;
    flex-direction: column;
  }
  #planets{
    max-width: 100vw;
    height: fit-content;
    background-color: #000000;
    color: white;
  }
  #planet-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, black  20vw, rgba(69, 17, 255, 0.144));
    margin: 2vw;
  }
  #planet-info-container{
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    font-family: 'Nanum Myeongjo', serif;
  }
  #planet-info{
    max-width: 60vw;
    font-size: 1.5rem;
    text-align: center;
  }
  #planet-name{
      font-size: 2.2rem;
  }
  #seemore-btn{
      background-color: rgb(70, 31, 243);
      border: none;
      color: white;
      box-shadow: 1px 1px 10px 10px rgb(70, 31, 243);
  }