#star{
    width: 10px;
    height: 10px;
    border-radius: 100vw;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
