.startleft{
    width: 2px;
    height: 2px;
    border-radius: 100vw;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.starright{
    width: 2px;
    height: 2px;
    border-radius: 100vw;
    animation-name: rightstar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes example{
    from{
        background-color: rgb(195, 104, 255);
        transform:  translate(-10vw, 10vh);
    }
    to{
        background-color: rgb(220, 176, 255);
        transform:  translate(0vw, -10px);
    }    
}

@keyframes rightstar{
    from{
        background-color: rgb(195, 104, 255);
        transform:  translate(20vw, 10vh);
    }
    to{
        background-color: rgb(220, 176, 255);
        transform:  translate(0vw, -5vh);
    }    
}
